/*-- scss:defaults --*/

/*
Reference:
- https://github.com/mine-cetinkaya-rundel/ld-dashboard/blob/main/theme/custom.scss
*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

$font-family-sans-serif: 'Titillium Web';
$font-family-monospace: 'Fira Code';

$font-size-root: 90%;
$line-height: 1;
$navbar-bg: #1C1C1C;
$navbar-fg: #FFFFFF;

.card-header {
  font-size: large;
}


.$navbar-title-text {
  font-size: large;
}
